In [1]:
import pandas as pd

In [6]:
data = [(1,2,3,4),
        (5,6,7,8),
        (9,10,11,12),
        (13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [7]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [10]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [12]:
df.loc['l1','c2']

2

In [13]:
df.iloc[0, 1]

2

In [14]:
df.loc[['l3', 'l1'], ['c4', 'c3']]

    c4  c3
l3  12  11
l1   4   3

In [15]:
df.iloc[[2, 0],[3, 0]]

    c4  c1
l3  12   9
l1   4   1